.label {
    color: #ffff;
    border: none;
    padding: 8px 0px 0px 0px;
    font-size: 25px;
    border-radius: 4px;
    cursor: pointer;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid rgb(6, 36, 66);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffff !important;
}


.button {
    padding: 10px 20px !important;
    margin: 10px 0px;
}
