.detail-button {
    background-color: rgb(6, 36, 66);
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.detail-button:hover {
    background-color: #0056b3;
}

.detail-button:active {
    background-color: #003973;
}

/* Custom styles for the DetailCard component */
.detail-card {
    background-color: #2a6d2a !important;
    color: white !important;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.detail-card .card-title {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.detail-card .card-text {
    margin-bottom: 1rem;
}

.detail-card .detail-button {
    background-color:  #ffc107;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.detail-card .detail-button:hover {
    background-color: #0056b3;
    color: white;
}

.detail-card .btn-primary {
    background-color: #ffc107;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.detail-card .btn-primary:disabled {
    background-color: #ffc107;
    cursor: not-allowed;
}
